@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   font-family: Poppins, sans-serif;
   font-size: 16px;
   line-height: 1.5;
}

/* header - section */
/* nav - bar */
#header {
   background-color: #1f2937;
   padding: 0 2em;
}

#header .nav {
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#header .nav .logo {
   color: #f9faf8;
   font-size: 24px;
}

#nav-bar {
   display: flex;
   align-items: center;
}

#nav-bar li {
   list-style-type: none;
   margin-right: 2em;
}

#nav-bar li:last-of-type {
   margin-right: 0;
}

#nav-bar li a {
   text-decoration: none;
   color: #e5e7eb;
}

#nav-bar li a:hover {
   color: lightblue;
}

/* nav - bar */

/* header - content */
.header-content {
   min-height: 400px;
   padding: 1em 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 2rem;
}

.hero-contents .hero-title {
   font-size: 48px;
   font-weight: bold;
   color: #f9faf8;
}

.hero-contents .hero-description {
   font-size: 18px;
   color: #e5e7eb;
}

.sign-up-btn {
   background-color: #3882f6;
   max-width: 120px;
   width: 80%;
   height: 35px;
   color: #f9faf8;
   border: none;
   border-radius: 1em;
   margin-top: 1em;
}

.header-content #hero-image {
   width: 300px;
   height: 300px;
}


/* header - content
/* header - section */

/* MAIN SECTION */
#main {
   display: flex;
   justify-content: center;
   padding: 2em 0;
   align-items: flex-start;
   min-height: 300px;
   margin-bottom: 1em;
}

#main .main-heading {
   text-align: center;
   font-size: 36px;
   font-weight: bold;
   color: #1f2937;
}

.boxes {
   display: flex;
   width: 80%;
   margin: 1em auto;
   gap: 2em;
   padding: 1em;
}


.boxes .box {
   height: 140px;
   border: 3px solid #3882f6;
   border-radius: 1em;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box-container p {
   margin-top: 10px;
   font-size: 14px;
}

/* MAIN SECTION */

/* First Section */
#first-section {
  display: flex;
   background-color: #e5e7eb;
   min-height: 400px;
}

#first-section .container {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1em;

}

#first-section .quotes {
   width: 85%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 2em;
}

.quote {
   font-size: 33px;
   font-weight: 200;
   font-style: italic;
}

.author {
   align-self: flex-end;
   font-weight: bold;
}
/* First Section */


/* Desktop Devices */
@media only screen and (min-width: 950px) {
   .container {
      width: 950px;
      margin: 0 auto;
   }
}